{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Ejercicio 1
{% endblock %}

{% block content %}

{% if group.myrandom == 'A' %}
{% if player.random_id < 4  %}
<p> <b> Le ha tocado una BOLA ROJA </b></p>
{% endif %}

{% if player.random_id > 3  %}
<p> <b> Le ha tocado una BOLA AZUL </b></p>
{% endif %}
{% endif %}

{% if group.myrandom == 'B' %}
{% if player.random_id < 2  %}
<p> <b> Le ha tocado una BOLA ROJA </b></p>
{% endif %}

{% if player.random_id > 1  %}
<p> <b> Le ha tocado una BOLA AZUL </b></p>
{% endif %}
{% endif %}

       {% formfields %}

    <p>

   </p>

    {% next_button %}

{% endblock %}
