{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instrucciones
{% endblock %}

{% block content %}
    <p>
        Nuevamente, tendrán que acertar sobre la urna que se está utilizando en el juego.
        Sin embargo, ahora, es posible que reciban 1 ó 2 esferas, así como es posible que no recibas nada.
        Tenga en cuenta, que en caso recibas 2 esta podría ser la misma dos veces seguidas.
        De igual manera, tienes que acertar para obtener una recompensa de S/5.

    </p>


    {% next_button %}

{% endblock %}
