{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instrucciones
{% endblock %}

{% block content %}

    <p>
    El juego consiste en dar una predicción/decisión sobre la urna que se está usando, después de recibir una señal y haber visto las decisiones de los anteriores participantes.Existen dos urnas de nombre A y B en el juego , pero solo se escogerá una aleatoriamente para el desarrollo de este. Ustedes no sabrán qué urna se está usando, por lo tanto su trabajo consiste en hacer una predicción sobre la urna que se estaría usando en el juego. Cabe resaltar que si aciertas en el ejercicio serás recompensado con S/5. Además, tener en cuenta que se realizarán dos ejercicios.

    </p>

    <p>
     En la Urna A hay dos esferas rojas y una azul, en la Urna B hay dos esferas azules y una roja. A cada uno se les presentará una esfera que pertenece a una de estas urnas.
     Ustedes no sabrán a qué urna pertenece. La esfera que reciban es la señal que los ayudará a decidir. Además de eso, podrán observar las decisiones de los anteriores participantes. Con ello, tienen que decidir a qué urna pertenece la esfera.

    </p>

     <p>
     Para proceder a jugar, primero pasarán por una sesión de prueba, con la finalidad de ver si entendieron las instrucciones dadas en las líneas anteriores.
     </p>



    {% next_button %}

{% endblock %}
